* {margin: 0; padding: 0; font-family:"微软雅黑";}
ul,ol li {list-style: none;}
/*return-top*/
.return-top {width: 60px; height: 60px; position: fixed; right: 0; bottom: 0;}
/*navigation*/
.navigation {height: 32px; background:#f3f3f3;}
	.navigation span {margin-left: 73px; font-size: 12px; color: #666; line-height: 32px;}
	.navigation a {font-size: 12px; color: #666; text-decoration: none; line-height: 32px;}
/*footer*/
footer {background: url(../img/footer.jpg) no-repeat; width: 1220px; height: 510px; margin: 0 auto; position: relative;}
	footer ul {float: left; font-size: 12px; color: #999; position: absolute; top: 180px;}
		footer ul:first-child {left: 50px;}
		footer ul:nth-child(2) {left: 190px;}
		footer ul:nth-child(3) {left: 330px;}
		footer ul:nth-child(4) {left: 500px;}
		footer ul:nth-child(5) {left: 660px;}
		footer ul:nth-child(6) {left: 835px;}
			footer ul li:first-child {font-weight: bold; color: black; margin-bottom: 10px;}
	footer img {position: absolute; top: 330px; left: 400px;}