/*header*/
header {width: 1220px; height: 105px; margin: 0 auto;}
	header img {display: block; margin-top: 35px;}
/*section*/
section {width: 1220px; height: 600px; margin: 0 auto;}
	section ul {width: 1220px; height: 40px; border-bottom: 2px #e7e7e7 solid;}
		section ul li {float: left; width: 300px; height: 40px; text-align: center; line-height: 40px; margin: 0 50px; font-weight: bold;}
			section ul li:nth-child(2) {border-bottom: 2px #D71E00 solid;}
	.zc {width: 700px; height: 500px; margin: 0 auto;}
		.zc p {margin: 30px auto; font-size: 12px; text-align: center;}
			#uname,#uemail,#uweb,#invite {width: 260px; height: 35px;}
			#btn {width: 300px; height: 35px; border-radius: 10px; background: #D71E00; color: white; margin-left: 50px; border: none;}
